* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(87, 161, 87);
  margin-bottom: 20px;
}

.header h1 {
  font-size: 40px;
}

.card {
  display: inline-block;
  background-color: rgb(87, 161, 87);
  padding: 10px;
  border-radius: 10px;
}

.card img {
  height: 200px;
  width: auto;
  margin-bottom: 10px;
}

.card h2 {
  text-align: center;
  font-size: 30px;
}
